/Sequence.class
/Controller.class
/commons-lang3-3.2.1.jar
/data
/results
/BioProgram.jar
/WriteUp.doc
/junit-4.11.jar
/Walters - WriteUp.pdf
/Frequency Distribution Report.doc
/HMM Decoding Results.odt
/NewFile.csv
/libs
/tests
/bin
